* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  margin-top: 10px;
  z-index: 100;
}
.navbar img {
  max-height: 20vh;
  padding: 25px;
}
.navbar h2 {
  font-size: 20px;
  font-family: "Righteous", cursive;
  color: white;
  padding: 30px;
  z-index: 5;
}
.navbar .head {
  z-index: 5;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head h2 {
  font-size: 20px;
  padding-left: 40px;
  font-family: "Righteous", cursive;
}
.head button {
  background-color: #ef5a92;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Bree Serif", serif;
  z-index: 3;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  z-index: 4;
}
.heading h2 {
  padding: 5px;
}

.navbar button {
  background-color: #ef5a92;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Bree Serif", serif;
  z-index: 3;
}
.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bg .bg-img {
  margin-top: 2vh;
  max-height: 30vw;
  position: absolute;
  z-index: 0;
  top: 10%;
}
.bg .front-img {
  margin-top: 2vh;
  height: 34vw;
  position: absolute;
  z-index: 2;
  top: 10%;
}
.bg .animate {
  animation-name: infiniteupdown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all;
}
.bg .white-rectangular-button {
  background-color: #ef5a92;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Bree Serif", serif;
  z-index: 3;
  margin-top: 45vh;
}
.bg .white-rectangular-button:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social-icons {
  display: flex;
}

.social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px;
  margin-top: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  z-index: 4;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--twitter {
  background: #2b97f1;
  color: #fff;
}
.social-icon--twitter .tooltip {
  background: #2b97f1;
  color: currentColor;
}
.social-icon--twitter .tooltip:after {
  border-top-color: #2b97f1;
}
.social-icon--discord {
  background: #4284c0;
  color: #fff;
}
.social-icon--discord .tooltip {
  background: #2b97f1;
  color: currentColor;
}
.social-icon--discord .tooltip:after {
  border-top-color: #2b97f1;
}
.social-icon i {
  position: relative;
  top: 1px;
}
.social-icon--diamond {
  background: #2b97f1;
  color: #fff;
}
.social-icon--diamond .tooltip {
  background: #4284c0;
  color: currentColor;
}
.social-icon--diamond .tooltip:after {
  border-top-color: #4284c0;
}
.social-icon i {
  position: relative;
  top: 1px;
}

@media (max-width: 956px) {
  .navbar {
    flex-direction: column;
    margin-top: 0px;
  }
  .navbar h2 {
    font-size: 18px;
    color: white;
    padding: 5px;
    z-index: 5;
  }
  .heading {
    margin-top: 0;
    padding: 5px;
  }
  .navbar .head {
    z-index: 5;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head h2 {
    font-size: 18px;
    padding: 10px;
  }
  .head button {
    font-size: 10px;
    z-index: 3;
  }
  .navbar button {
    font-size: 10px;
    z-index: 3;
  }
  .bg .bg-img {
    margin-top: 40vh;
    max-height: 46vw;
    position: absolute;
    z-index: 0;
    top: 10%;
  }
  .bg .front-img {
    margin-top: 40vh;
    height: 56vw;
    position: absolute;
    z-index: 2;
    top: 10%;
  }
  .navbar img {
    max-height: 20vh;
    padding: 20px;
  }
  .bg .white-rectangular-button {
    margin-top: 70vh;
    font-size: 10px;
  }
  .social-icon {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    font-size: 1.5rem;
  }
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}
@keyframes infiniteupdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
